#blurOverlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: inherit;
	transition: opacity var(--transition-speed);
	opacity: 0; 
	z-index: -1;
	filter: blur(var(--blur-strength)) brightness(70%);
}

#blurOverlay.show {
	transition: opacity var(--transition-speed);
	opacity: 1;
}