.centeredBar {
	background: #ff00ff;
	width: 100%;
    height: auto;
    border: none;
    pointer-events: none;
    
    position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}