#centeredBoxOverlay {
	background: transparent;
	opacity: 0;
	backdrop-filter: blur(var(--blur-strength));
	
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	
	margin: 0;
	padding: 0;
	z-index: -1;
	filter: brightness(70%);
	transition: opacity var(--transition-speed), z-index var(--transition-speed);
}

#centeredBoxOverlay.showOverlay {
	transition: opacity var(--transition-speed);
	opacity: 1;
	z-index: 0;
}