.panelFloat {
	background: var(--panel-bg);
	height: 100%;
	z-index: 7;
	/*border-radius: var(--rounded-radius);*/
	backdrop-filter: blur(var(--blur-strength));

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.floatPadding {
	margin: 10px;
	height: auto;
    width: 330px;
}

#rightDashboard {
	/*Start to bottom and add 10px margin*/
	/*bottom: 0;*/
	/*margin: 10px;*/
	
	width: 0;
	right: 0;
	position: absolute;
	overflow-y: auto;
	box-sizing: border-box;
	transition: width var(--transition-speed); 
}

/*Hide scrollbar*/
#rightDashboard::-webkit-scrollbar {
    display: none;
}

#rightDashboard.show {
	width: 350px;
	z-index: 7;
	scrollbar-width: none;
}

@media screen and (max-width: 580px) {
	#rightDashboard.show {
		width: 100vw;
		margin-right: 0;
	}
}

.hideFloat {
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: -2;
	visibility: none;
	transition: visibility var(--transition-speed), z-index var(--transition-speed);
	filter: blur(var(--blur-strength)) brightness(70%);
}

#dashboardHider.show {
	visibility: visible;
	z-index: 6;
}

#closeDashboard {
	background: var(--base-container);
	border-radius: 50%;
	box-sizing: border-box;
	width: 24px;
	height: 24px;
	padding: 5px;
	display: none;
	transition: display var(--transition-speed);
}

#closeDashboard:hover {
	background: var(--base-hover-bg);
}

#closeDashboard:active {
	background: var(--base-active-bg);
}

#closeDashboardImage {
	background: url('../assets/close.svg');
	background-size: cover;
	width: 100%;
	height: 100%;
	position: relative;
}

@media screen and (max-width: 580px) {
	#closeDashboard {
		display: block;
	}
}