.panel {
	position: absolute;
	background: var(--panel-bg);
	backdrop-filter: blur(var(--blur-strength));
	z-index: 1 !important;
}

#panelTop {
	height: 32px;
	width: 100%;
	position: absolute;
	z-index: 5 !important;
}

.dock {
	position: absolute;
	background: transparent;
	z-index: 5;
    margin: 0 auto;
    bottom: 0;

	/*On bottom, center horizontally*/
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);

	/*Add transition*/
	transition: transform 500ms, left 500ms, opacity 500ms;
}

#dockContainer {
	display: flex;
	position: relative;
	
	background: var(--panel-bg);

	height: auto;
	width: auto;
	
	padding: 5px;
	margin: 10px;

    border-radius: var(--rounded-radius);
}

.dockButtons {
	position: absolute;
	background: var(--panel-bg);
	backdrop-filter: blur(var(--blur-strength));
	z-index: 1 !important;
}

/*Translate dock to left side if width <= 580 and height >= 540*/
@media screen and (max-width: 580px) and (min-height: 540px) {

	.dock {
		display: inline-block;
		opacity: 1;

    	position: relative;
		margin:0  auto;

    	top: 50%;
    	left: 0;
    	bottom: 0;
    	right: 0;

    	-webkit-transform: translateY(-50%);
    	transition: transform 500ms, left 500ms, opacity 500ms;
	}

	#dockContainer {
		display: inline-block;
    	width: auto;
    	height: auto;
		transform: scale(0.85);
		margin: 5px;
	}
}

/*Set opacity to 0 if width < 580 and height < 540*/
@media screen and (max-width: 579px) and (max-height: 539px) {
	.dock {
    	opacity: 0;
    	transition: opacity 500ms;
	}
}

