
.panelFloat {
	background: var(--panel-bg);
	height: auto;
	z-index: 99999;
	border-radius: var(--rounded-radius);
	backdrop-filter: blur(var(--blur-strength));

	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.floatPadding {
	margin: 10px;
	height: auto;
    width: 330px;
}

#rightDashboard {
	width: 0;
	bottom: 0;
	right: 0;
	margin: 10px;
	position: absolute;
	overflow: hidden;
	transition: width 500ms; 
}

.hideFloat {
	background: transparent;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	z-index: 99998;
	visibility: hidden;
	transition: visibility 500ms;
	filter: blur(var(--blur-strength)) brightness(70%);
}

#overlayHider.show {
	visibility: visible;
}