.category {
	position: relative;
	display: inline-block;
	cursor: pointer;
}

.categoryButton {
	color: var(--panel-color);
	font-weight: bold;
	font-family: sans;
	font-size: 11pt;
}

.categoryContent {
	margin-top: 5px;
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

.categoryContent div {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.categoryContent div:hover {background-color: #ddd;}

.dropDownShow {display: block;}	