#profileContainer {
	background: var(--base-bg);
	height: 138px;
	width: 138px;
	border-radius: 50%;
	backdrop-filter: blur(var(--blur-strength));
    margin: 0 auto;
    margin-bottom: 90px;
    position: relative;

}

#mainBody {
	opacity: 1;
	z-index: 1;
    transition: opacity var(--transition-speed), z-index var(--transition-speed);
}

#mainBody.hide {
	opacity: 0;
	z-index: -999999;
}

#profileContainer.hide {
	opacity: 0 !important;
	visibility: none !important;
}

.rotateProfile {
	animation: rotate var(--transition-speed) 1;
	animation-iteration-count: 1;
	animation-play-state: paused;
}

@keyframes rotate {
    from { -webkit-transform: rotate(0deg) } 
    to { -webkit-transform: rotate(360deg) } 
}

#profileContainer  #userProfile {
	background-image: url('../assets/user.png') ;
	height: 128px;
	width: 128px;
	border-radius: 50%;
	background-size: cover;
	margin:0  auto;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
}
