#searchBox {
	text-align: center;
	font-family: sans;
	font-weight: 500;
	color: var(--panel-color);
	background: var(--panel-bg);

	width: 30vw;
	height: 48px;
	border: none;
	border-radius: 24px;
	
	margin: 0;
	opacity: 0;
	position: absolute;
	backdrop-filter: blur(var(--blur-strength));
	
	left: 50%;
	top: 60%;
	
	pointer-events: none;
	
	transition: opacity var(--transition-speed), top var(--transition-speed), visibility var(--transition-speed), pointer-events var(--transition-speed) ; 
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#searchBox.unfade {
	opacity: 1;
	top: 100%;
	pointer-events: initial;
}

@media screen and (max-width: 580px) {

	#searchBox {
    	width: 50vw;
	}

}

