
@import url('normalize.css');
@import url('set-body-background.css');
@import url('panels.css');
@import url('dock-buttons.css');
@import url('searchbox.css');
@import url('blur-overlay.css');
@import url('profile-container.css');
@import url('panel-float.css');
@import url('greeter.css');
@import url('weather.css');
@import url('search-engine-select.css');
@import url('web-menu.css');

:root {
	/* Colors */
	--base-bg: #00000066;
	--base-color: #f2f2f2;
	--base-container: #f2f2f220;

	--base-hover-bg: #f2f2f240;
	--base-active-bg: #fefefe60;

	--blur-strength: 6px;
	
	--panel-bg: var(--base-bg);
	--panel-color: var(--base-color);

	--transition-speed: 300ms;

	--rounded-radius: 12px;
}

/*Hide focus elements*/
input:focus,
textarea:focus,
select:focus{
    outline: none;
}

/*Placeholder*/
::placeholder {
  color: var(--base-color);
  opacity: 0.75;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--base-container);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--base-active-bg);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--base-hover-bg);
}

select {
	text-align: center;
	text-align-last: center;
}

option {
	text-align: left;
}

body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: #1a1a1a;
	color: var(--foreground);
}

html, body {
	height: 100% !important;
	position: fixed !important;
}

#clock {
	color: var(--base-color);
	font-size: 11pt;
	font-family: sans;
	font-weight: bold;

	/*Center lock*/
	text-align: center;
}

.mainContainer {
	width: 100%;
    height: auto;
    border: none;
    
    position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
