.themeEngine {
	font-family: sans;
	width: 100%;
	height: auto;
	position: relative;;
	border-radius: 6px;
	color: var(--base-color);
	background: var(--base-container);
	margin-top: 10px;
}

#themeEnginePadding {
	padding: 5px;
	height: auto;
}


#themeEngineHeader {
	height: 32px;
	width: 100%;

	display: flex;
	flex-direction: row;
	justify-content: left;
}

#themeEngineHeaderIcon {
	background: url('../assets/internet.svg');
	background-size: cover;
	margin-right: 10px;
	width: 28px;
	height: 28px;
}

#themeEngineHeaderLabel {
	text-align: left;
	font-weight: bold;
	font-size: 14pt;
	margin-top: auto;
	margin-bottom: auto;
}

#themeEngineContainer {
	margin-top: 5px;
}

#themeEngineSelect {
	width: 100%;
	height: 32px;
	background: var(--base-container);
	color: var(--base-color);
	font-weight: normal;
	font-style: 14pt;
	border: none;
	border-radius: 6px;
	padding: 5px;

	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

#themeEngineSelect:hover {
	cursor: pointer;
}

#themeEngineSelect option {
	color: initial;
	border: none;
}

select::-ms-expand {
  display: none;
}

#themeEngineAsDefault {
	background: var(--base-container);
	color: var(--base-color);
	text-align: center;
	width: 100%;
	height: 32px;
	margin-top: 5px;
	border-radius: 6px;
	cursor: pointer;

	/*Center vertically*/
	display: flex;
  	justify-content: center;
  	align-items: center;
}

#themeEngineAsDefault:hover {
	background: var(--base-hover-bg);
}

#themeEngineAsDefault:active {
	background: var(--base-active-bg);
}

@media screen and (max-width: 580px) {
	.themeEngine {
		width: 96vw;
		box-sizing: border-box;
	}
}

.themeEngineGroups {
	margin-top: 5px;
}



.colorSetter,
.blurSetter {
	/*Align div inside horizontally*/
	display: flex;
	flex-direction: row;
	justify-content: left;

	margin-top: 5px;
	box-sizing: border-box;
}


#colorSet {
	margin-right: 2.5px;
	height: 32px;
	width: 100%;
	box-sizing: border-box;
	border: none;
	text-align: center;
	border-radius: 6px;
	color: var(--base-color);
	background: var(--panel-bg);
}

#opacitySet {
	margin-left: 2.5px;
	height: 32px;
	width: 25%;
	box-sizing: border-box;
	border: none;
	text-align: center;
	border-radius: 6px;
	color: var(--base-color);
	background: var(--panel-bg);
}

#blurSet {
	height: 32px;
	width: 100%;
	box-sizing: border-box;
	border: none;
	text-align: center;
	border-radius: 6px;
	color: var(--base-color);
	background: var(--panel-bg);
}