#webMenu {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	background: var(--panel-bg);
	z-index: 0;
	overflow: hidden;
	backdrop-filter: blur(var(--blur-strength));
	
	padding-top: 6vh;
	padding-bottom: 6vh;
	padding-left: 12vw;
	padding-right: 12vw;

	/*Dont increase the geometry by using padding*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	/*Disable user touch/select on text elements*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;


	/*Transitions*/
	opacity: 0;
	transform: scale(0);
	transition: transform 500ms, opacity 500ms;
}

#webMenu.show {
	transform: scale(1);
	opacity: 1;
}

#webMenuContainer {
	background: transparent;
	max-height: 82vh;

	overflow: hidden;
}

#webMenuSearchBox {
	backdrop-filter: blur(var(--blur-strength));
	text-align: center;
	font-family: sans;
	font-weight: 500;
	color: var(--panel-color);
	background: var(--panel-bg);
	border: none;
	border-radius: 6px;
	width: 25%;
	height: 36px;
	margin: 0;
	

}

#webMenuSearchBoxContainer {
	/*Center horizontally*/
	position: relative;
	display: flex;
	flex-flow: column wrap;
	align-items: center;

	margin-bottom: 20px;
}

/*Web menu list*/

/*UL*/
#webMenuList {
	list-style-type: none;
	padding: 0;
	margin: 0 auto;
	text-align: justify;

	background: transparent;
}

/*List*/
#webMenuList li  {
	/*Align list horizontally*/
	display: inline-block;
}

#webMenuList li.selected {
	background: var(--base-active-bg);
	border-radius: var(--rounded-radius);
	transition: transform 500ms;
}


/*Children of li*/
.webItem {
	width: 128px;
	height: 128px;
	margin: 5px;
	border-radius: var(--rounded-radius);
	background: var(--base-container);
}

.webItem:hover {
	background: var(--base-hover-bg);
	cursor: pointer;
}

.webItem:active {
	background: var(--base-active-bg);
}

/*Contains web icon and label*/
.webItemContainer {
	/*Align vertically*/
	margin:0  auto;
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);


	/*Align horizontally*/
	display: flex;
	flex-direction: row;
	justify-content: center;
}

/*Web icon*/
.webItemIcon {
	background: #ff000060;
	height: 96px;
	width: 96px;
	margin-bottom: 0;
}

/*Web label/name*/
.webItemName {
	text-align: center;
	font-size: 10pt;
	font-weight: 500;
	font-family: sans;
	color: #ffffff;

}

#webMenuListContainer {
	position: relative;
	background: transparent;
	overflow-y: auto;
	max-height: 70vh;
}
