:root {
	/* Colors */
	--base-body-bg: #1A1A1AFF;

	--base-bg: #00000060;
	--base-color: #FEFEFEFF;
	--base-container: #F2F2F220;

	--base-hover-bg: #F2F2F230;
	--base-focus-bg: #F2F2F245;
	--base-active-bg: #FEFEFE60;

	--blur-strength: 6px;
	
	--panel-bg: var(--base-bg);
	--panel-color: var(--base-color);

	--transition-speed: 300ms;

	--rounded-radius: 12px;
}

* {
	box-sizing: border-box;
	
	/*Font rendering*/
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	font-variant-ligatures: none;

	/*Disable tap hightlight color on mobile devices*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}

body {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: var(--base-body-bg);
	color: var(--foreground);
}

html, body {
	font-family: roboto, sans-serif;
	height: 100%;
	position: fixed;
}

/*Placeholder*/
::placeholder {
	color: var(--base-color);
	opacity: 0.65;
}

/*Scrollbar*/
/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: var(--base-container);
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: var(--base-active-bg);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: var(--base-hover-bg);
}

/*Hide focus elements outline*/
input:focus,
textarea:focus,
select:focus{
    outline: none;
}

select::-ms-expand {
  display: none;
}

/*Select*/
select {
	text-align: center;
	text-align-last: center;
}

option {
	text-align: left;
}
